h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #eecda3,  #ef629f);
}

.calculator-container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;

.display {
    width: 14em;
    height: 2em;
    outline: auto;
    
}

.keys {
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);

    width: 38%;
    height: 60%;
    padding-top: 1%;
}

#equal {
    grid-row: span 4;
}






 
